<%= form_for(@guestreply) do |f| %>
  <% if @guestreply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guestreply.errors.count, "error") %> prohibited this guestreply from being saved:</h2>

      <ul>
      <% @guestreply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :guest_count %><br>
    <%= f.number_field :guest_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
