<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @startup_resource.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @startup_resource.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @startup_resource.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @startup_resource.url %>
</p>

<%= link_to 'Edit', edit_startup_resource_path(@startup_resource) %> |
<%= link_to 'Back', startup_resources_path %>
