<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @startup_list.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @startup_list.email %>
</p>

<%= link_to 'Edit', edit_startup_list_path(@startup_list) %> |
<%= link_to 'Back', startup_lists_path %>
